.DS_Store
node_modules
/.svelte-kit
/package
.envrc
.eslintcache
build
data/db.json
data/db-config.json
data/markdown.json
data/markdown-config.json
data/html.json
data/scrape.json
data/scrape-config.json
.direnv
gha-creds-*
static/*.html
static/*.json
static/plugin/
static/about/
static/created/
static/updated/
static/c/
public/
